# Only include dotfiles
/*
!.*

# Ignore generic folders
.CFUserTextEncoding
.DS_Store
.Trash

# Include only ssh-config
.ssh/*
!.ssh/config

# Shell integration from iTerm 2 (install on new machines)
# Tip: Fix git-path in .term2/it2git
.iterm2*

# Ignore specific things
.Xauthority
.anyconnect
.aspell*
.astropy
.bash_sessions
.cisco
.config
.cups
.dropbox
.dustmapsrc
.emacs.d
.grip
.homebrew_token
.idlerc
.keras
.local
.matplotlib
.pyenv
.pylint.d
.pympress
.rnd
.rstudio-desktop
.subversion
.viminfo

# History files and stuff
.cache
.*_history
.histfile
.serverauth*
.zcompdump
.lesshst
