# Only include dotfiles
/*
!.*

# Ignore generic folders
.CFUserTextEncoding
.DS_Store
.Trash

# Include only ssh-config
.ssh/*
!.ssh/config

# Only include iPython profile
.ipython/*
!.ipython/profile_default/
.ipython/profile_default/*
!.ipython/profile_default/ipython_config.py

# Ignore specific things
.anyconnect
.astropy
.cups
.dropbox
.emacs.d
.homebrew_token
.matplotlib
.rnd
.subversion
.viminfo
.Xauthority

# History files and stuff
.cache
.*_history
.histfile
.serverauth*
.zcompdump
