[user]
	name = Jakob Lysgaard Rørsted
	email = jakob@phys.au.dk
[alias]
	c = commit
	a = add
	p = push
	d = diff
	co = checkout
	pl = pull
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit
	hist = log --color --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[color]
	ui = auto
[push]
	default = simple
[core]
	excludesfile = /Users/moss/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
